Notebook criado para o desenvolvimento de Machine Learning do projeto "Crimes em Chicago", produzido para a disciplina 'Projeto Integrador III', do curso de Tecnologia em Big Data para Negócios, da FATEC Ipiranga.

Instala-se a biblioteca psycopg2, para a conexão do notebook com o banco de dados PostgreSQL no qual se encontra o data warehouse do projeto.

In [ ]:
%pip install psycopg2

Após a instalação, também importa-se a biblioteca pandas para a manipulação de dados.

In [ ]:
import psycopg2 as ps2
import pandas as pd

Iniciam-se variáveis com os parametros necessários para a criação de uma string de conexão com o banco de dados.

In [ ]:
db_host = 'endereço no qual o banco de dados está hospedado'
db_port = 'porta do banco de dados'
db_name = 'nome do banco de dados'
db_user = 'nome do usuário'
db_password = 'senha do usuário'

Criação da string de conexão, a partir dos parametros passados anteriormente.

In [ ]:
conexao = ps2.connect(
    host=db_host,
    port=db_port,
    dbname=db_name,
    user=db_user,
    password=db_password
)

Transformação das tabelas do banco de dados em dataframes.

In [ ]:
query = "SELECT * FROM dim_localizacao"
dfLocalizacao = pd.read_sql(query, conexao)
dfLocalizacao

In [ ]:
query = "SELECT * FROM dim_tipoCrime"
dfTipoCrime = pd.read_sql(query, conexao)
dfTipoCrime

In [ ]:
query = "SELECT * FROM dim_tempo"
dfTempo = pd.read_sql(query, conexao)
dfTempo

In [ ]:
query = "SELECT * FROM fato_casos"
dfCasos = pd.read_sql(query, conexao)
dfCasos

Após os dados serem passados a dataframes, fecha-se a conexão com o banco de dados.

In [ ]:
conexao.close()