In [11]:
# importando bibliotecas
import pandas as pd

In [12]:
# importanto as bases de dados
casos = pd.read_csv('C:/Users/PICHAU/Downloads/Crimes_-_2001_to_Present_20231016.csv', sep=',', encoding='utf-8', on_bad_lines='skip')

casos

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11037294,JA371270,03/18/2015 12:00:00 PM,0000X W WACKER DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,BANK,False,False,...,42.0,32.0,11,NaN,NaN,2015,08/01/2017 03:52:26 PM,NaN,NaN,NaN
1,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19.0,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14.0,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
4,11645601,JC212935,06/01/2014 12:01:00 AM,087XX S SANGAMON ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,21.0,71.0,11,NaN,NaN,2014,04/06/2019 04:04:43 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7912970,12131776,JD327752,08/10/2020 08:30:00 PM,066XX S SACRAMENTO AVE,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,17.0,66.0,05,1157527.0,1860392.0,2020,08/17/2020 03:41:32 PM,41.772671,-87.698104,"(41.772671069, -87.698104059)"
7912971,12082414,JD269218,06/18/2020 09:00:00 PM,093XX S DR MARTIN LUTHER KING JR DR,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,9.0,49.0,06,1180558.0,1843036.0,2020,06/25/2020 03:41:40 PM,41.724546,-87.614211,"(41.724546436, -87.614210743)"
7912972,12118237,JD311791,07/27/2020 03:02:00 PM,033XX W POLK ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,24.0,27.0,08B,1154169.0,1896171.0,2020,08/03/2020 03:41:51 PM,41.870921,-87.709461,"(41.870920735, -87.709461362)"
7912973,12142591,JD340297,08/14/2020 03:00:00 PM,023XX W ROSEMONT AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,50.0,2.0,07,1159419.0,1941765.0,2020,08/26/2020 03:40:41 PM,41.995927,-87.688929,"(41.995927389, -87.688928533)"
7912974,12002171,JD177406,03/06/2020 02:00:00 PM,033XX N LAKEWOOD AVE,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,APARTMENT,False,False,...,44.0,6.0,11,1167040.0,1922212.0,2020,03/13/2020 03:41:29 PM,41.942112,-87.661459,"(41.942112495, -87.661458579)"

In [13]:
#apagando colunas desnecessárias
del casos['Block']
del casos['Primary Type']
del casos['Description']
del casos['District']
del casos['FBI Code']
del casos['X Coordinate']
del casos['Y Coordinate']
del casos['Year']
casos

,ID,Case Number,Date,IUCR,Location Description,Arrest,Domestic,Beat,Ward,Community Area,Updated On,Latitude,Longitude,Location
0,11037294,JA371270,03/18/2015 12:00:00 PM,1153,BANK,False,False,111,42.0,32.0,08/01/2017 03:52:26 PM,NaN,NaN,NaN
1,11646293,JC213749,12/20/2018 03:00:00 PM,1154,APARTMENT,False,False,2515,36.0,19.0,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11645836,JC212333,05/01/2016 12:25:00 AM,1153,NaN,False,False,824,15.0,63.0,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,11645959,JC211511,12/20/2018 04:00:00 PM,2820,RESIDENCE,False,False,1724,33.0,14.0,04/06/2019 04:04:43 PM,NaN,NaN,NaN
4,11645601,JC212935,06/01/2014 12:01:00 AM,1153,RESIDENCE,False,False,2222,21.0,71.0,04/06/2019 04:04:43 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7912970,12131776,JD327752,08/10/2020 08:30:00 PM,0620,APARTMENT,False,False,831,17.0,66.0,08/17/2020 03:41:32 PM,41.772671,-87.698104,"(41.772671069, -87.698104059)"
7912971,12082414,JD269218,06/18/2020 09:00:00 PM,0820,RESIDENCE,False,False,633,9.0,49.0,06/25/2020 03:41:40 PM,41.724546,-87.614211,"(41.724546436, -87.614210743)"
7912972,12118237,JD311791,07/27/2020 03:02:00 PM,0486,APARTMENT,False,True,1134,24.0,27.0,08/03/2020 03:41:51 PM,41.870921,-87.709461,"(41.870920735, -87.709461362)"
7912973,12142591,JD340297,08/14/2020 03:00:00 PM,0910,STREET,False,False,2413,50.0,2.0,08/26/2020 03:40:41 PM,41.995927,-87.688929,"(41.995927389, -87.688928533)"
7912974,12002171,JD177406,03/06/2020 02:00:00 PM,1150,APARTMENT,False,False,1924,44.0,6.0,03/13/2020 03:41:29 PM,41.942112,-87.661459,"(41.942112495, -87.661458579)"

In [14]:
#renomeando as colunas
casos.rename(columns=
 {"Case Number": "NumeroCaso",
  "Date": "Data",
  "Location Description": "DescricaoLocal",
  "Arrest": "Prisao",
  "Domestic": "Domestico",
  "Ward": "Ala",
  "Community Area" : "AreaComunitaria",
  "Updated On": "UltimaAtualizacao",
  "Location": "Local"},
inplace=True)

In [15]:
# Verificando valores null
print(casos['NumeroCaso'].isna().sum().sum()) # 7 
print(casos['DescricaoLocal'].isna().sum().sum()) # 1990
print(casos['Latitude'].isna().sum().sum()) # 105573
print(casos['Longitude'].isna().sum().sum()) # 105574
print(casos['Local'].isna().sum().sum()) # 105574

0
11901
90086
90086
90086

In [16]:
##Removendo null
casos = casos.dropna(subset=['Local'])
casos = casos.dropna(subset=['NumeroCaso'])
casos = casos.dropna(subset=['DescricaoLocal'])

In [17]:
# Verificando o tipo 
casos.dtypes

ID                     int64
NumeroCaso            object
Data                  object
IUCR                  object
DescricaoLocal        object
Prisao                  bool
Domestico               bool
Beat                   int64
Ala                  float64
AreaComunitaria      float64
UltimaAtualizacao     object
Latitude             float64
Longitude            float64
Local                 object
dtype: object

In [18]:
# Transformando tipo de variavel 
casos['NumeroCaso'] = casos['NumeroCaso'].astype(str)
casos['IUCR'] = casos['IUCR'].astype(str)
casos['DescricaoLocal'] = casos['DescricaoLocal'].astype(str)
casos['Latitude'] = casos['Latitude'].astype(float)

In [19]:
#Conversão da data e tempo
# Data
# Converta a coluna "data_hora" de "object" para "datetime"
casos['Data'] = pd.to_datetime(casos['Data'])

# Converta datetime para uma string formatada
casos['Data'] = casos['Data'].dt.strftime('%Y-%m-%d %H:%M:%S')


# Ultima Atulização data 
# Converta a coluna "data_hora" de "object" para "datetime"
casos['UltimaAtualizacao'] = pd.to_datetime(casos['UltimaAtualizacao'])

# # Converta datetime para uma string formatada
casos['UltimaAtualizacao'] = casos['UltimaAtualizacao'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [21]:
casos.dtypes

ID                     int64
NumeroCaso            object
Data                  object
IUCR                  object
DescricaoLocal        object
Prisao                  bool
Domestico               bool
Beat                   int64
Ala                  float64
AreaComunitaria      float64
UltimaAtualizacao     object
Latitude             float64
Longitude            float64
Local                 object
dtype: object

In [22]:
#gerando csv
casos.to_csv('casos.csv')